/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: 'Arial', sans-serif;
  background: url("{% static 'images/loginimage.jpg' %}") no-repeat center
    center fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

/* Login Container */
.login-container {
  border: 2px solid #a54cc6;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  width: 350px;
  text-align: center;
}

/* Title Styling */
.login-container h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.login-container h1 span {
  color: #a54cc6; /* Primary color for accents */
}

/* Input Fields */
.login-container input[type='email'],
.login-container input[type='password'] {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

/* Buttons */
.login-container button {
  color: #a54cc6;
  border: none;
  padding: 0.8rem;
  border-radius: 5px;
  border: 2px solid #a54cc6;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  margin: 1rem 0;
  font-size: 1rem;
}

.login-container button:hover {
  background: #a54cc6;
  /* Slightly darker shade for hover */
  color: #fff;
}

/* Links */
.login-container a {
  color: blue;
  text-decoration: none;
  font-size: 0.9rem;
}

.login-container a:hover {
  text-decoration: none;
}
